[Unit]
Description=PiClock Empty card assist tool
After=multi-user.target

[Service]
Type=simple
# Remember to adjust the path!
ExecStart=/usr/bin/python /home/habiwan/nfc/emptycards.py
Restart=always

[Install]
WantedBy=multi-user.target

