[Unit]
Description=Sync NFC logs on times.csv modification
After=network.target

[Service]
Type=simple
# Remember to adjust the path and user!
User=habiwan
ExecStart=/home/habiwan/nfc/sync_clocks.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
