[Unit]
Description=PiClock System raw data writing service
After=multi-user.target

[Service]
Type=simple
# Remember to adjust the paths!
ExecStart=/usr/bin/python /home/YOURPIUSER/nfc/clockin.py
Restart=always

[Install]
WantedBy=multi-user.target

